<div class="user">
    <%= render partial: "users/user", locals: {user: @user} %>
    
</div>


<div class="postsContainer">    
    <% count = 1 %>
    <% @posts.each do |post| %>
        <a href=<%= "posts/#{post.id}" %> class="postLink">
            <div class="post">            
            <h3 class="postTitle">Post #<%= count %></h3>
            <p class="postText"><%= post.text %></p>
            <div class="counters">
                <p class="likesCounter">Likes: <%= post.likesCounter || 0 %></p>
                <p class="commentsCounter">Comments: <%= post.commentsCounter || 0 %></p>
            </div>
            <div class="commentsContainer">
                <% if post.comments.empty? %>
                    <p>No comments yet</p>
                <% else %>
                    <% post.recent_comments.each do |comment| %>
                        <div class="comment">
                            <p class="comment"><%= comment.author.name %> : <%= comment.text%></p>
                        </div>
                    <% end %>
                <% end %>
            </div>
        </div>
        </a>
        <% count += 1 %>
    <% end %>
    <button class="postsButton">
        <%= link_to "Create new post", new_user_post_path %>
    </button>
</div>

