<div class="post">
    <h3 class="postTitle">Post#<%= @post.id %> by <%= @post.author.name %></h3>
    <div class="counters">
        <p class="likesCounter">Likes: <%= @post.likesCounter || 0 %></p>
        <p class="commentsCounter">Comments: <%= @post.commentsCounter || 0 %></p>
        <% if can? :destroy, @post %>
            <%= link_to "Delete post", user_post_path(@post.author.id, @post), data: {
                turbo_method: :delete,
                turbo_confirm: "Are you sure you want to delete this post?"
            } %>
        <% end %>
    </div>

    <p class="postText"><%= @post.text %></p>
    <div class="buttonContainer">
        <%=form_with model: @like, url: user_post_likes_path(@post.author.id, @post), local: true  do |form| %>
            <p>
                <%= form.submit "Add Like" %>
            </p>
        <% end %>
        <button class="buttons">
            <%= link_to "Add comment", new_user_post_comment_path(@post.author.id, @post) %>
        </button>
    </div>

    
</div>

<div class="commentsContainer">
<div class="comments">
    <% if @post.comments.empty? %>
        <p  class="comment">No comments yet</p>
    <% else %>        

        <% @post.comments.each do |comment| %>
                <p class="comment"><%= comment.author.name %> : <%= comment.text%></p>
                <% if can? :destroy, comment %>
                    <%= link_to "Delete comment", user_post_comment_path(@post.author.id, @post.id, comment.id), data: {
                        turbo_method: :delete,
                        turbo_confirm: "Are you sure you want to delete this comment?"
                    } %>
                <% end%>
        <% end %>                   

    <% end %>    
</div>
</div>